@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main {
  h1 {
    padding-top: 60px;
    @include mobile {
      padding: 30px 0 10px;
    }
  }
}

.showcase {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;

  @include mobile {
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;

    .image {
      height: 250px;
      background-size: auto 200px;
    }
  }
}

.showcaseItem {
  position: relative;
  text-decoration: none;
  border-radius: 2px;
  height: 500px;
  padding-top: 30px;

  @include small {
    height: 400px;
  }

  @include mobile {
    height: 320px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $main-color;
    opacity: 0.05;
    transition: all 0.3s linear;
  }
  &:hover::before {
    background: none;
  }
}

.image {
  background-image: url('../../public/ferroli.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;

  @include small {
    height: 300px;
  }
}

.text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: $main-color;
  font-size: 14px;
  font-weight: bold;
}
