@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper {
  padding-top: 20px;
  h1 {
    font-size: 30px;
  }

  ul {
    margin-top: 70px;
  }

  @include mobile {
    ul {
      margin-top: 30px;
    }
    .item {
      flex-direction: column;
      padding: 0;
      margin-top: 20px;
      position: relative;

      button {
        width: 25px;
      }
      > div,
      p {
        width: 100%;
        margin-bottom: 10px;
      }

      .info {
        flex-direction: column;

        p {
          padding: 20px 0 0;
          text-align: center;
        }
      }

      .deleteBtn {
        position: absolute;
        top: 0;
        right: 10px;
        width: auto;
        height: auto;
      }
    }
  }
}

.empty {
  margin: 100px auto;
  text-align: center;

  @include mobile {
    margin-top: 200px;
  }
}

.header {
  display: flex;
  padding: 0 30px;
  p {
    font-size: 14px;
    text-align: center;

    &:first-of-type {
      width: 700px;
    }
    &:nth-of-type(2) {
      width: 200px;
    }
    &:nth-of-type(3) {
      width: 100px;
    }
    &:nth-of-type(4) {
      width: 200px;
    }
  }

  @include mobile {
    display: none;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid $border-color;

  .info {
    width: 700px;
    display: flex;
    align-items: center;
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 200px;
    max-height: 200px;
  }

  .name {
    font-weight: 600;
    width: 500px;
    padding: 0 50px;
  }

  .price {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span:first-of-type {
      font-size: 20px;
    }

    span ~ span {
      color: gray;
      text-decoration: line-through;
    }
  }

  .count {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin: 0 10px;
    }
  }

  .total {
    font-size: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.totalSum,
.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 50px;
  span {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
  }

  @include mobile {
    justify-content: center;
  }
}
