@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
  padding: 0 120px 60px;
  margin-top: $header-height;
  position: relative;

  @include mobile {
    padding: 0 20px;
  }
}
